.section-lorem {
    letter-spacing: 0.03em;
    font-size: 14px;
    &__icon {
        height: 120px;
        width: 270px;
        background-color: var(--color-bg-icons);
        border-radius: 4px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
    }
    &__lists-lorem, 
    &__lists-icons {
        display: flex;
        justify-content: space-around;
        padding-left: 0;
        flex-basis: 270px;
    }
    &__list-lorem, 
    &__list-icons {
        flex-basis: 270px;
    }
    &__title {
        font-weight: 700;
        line-height: 1.172;
        text-transform: uppercase;
        margin-top: 0;
    }
    &__paragraph {
        line-height: 1.714;
        margin-bottom: 0;
    }
}