.section-lorem {
    letter-spacing: 0.03em;
    font-size: 14px;
    &__lists-icons {
        display: flex;
        justify-content: space-around;
        padding-left: 0;
    }
    &__icon {
        position: relative;
        top: -2%
    }
    &__list-icons {
        flex-basis: 270px;
    }
    &__svg {
        height: 120px;
        width: 270px;
        background-color: var(--color-bg-icons);
        border-radius: 4px;
        margin-bottom: 30px;
    }
    &__title {
        font-weight: 700;
        line-height: 1.172;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 10px;
    }
    &__paragraph {
        line-height: 1.714;
        margin-top: 0;
        margin-bottom: 0;
    }
}

// TABLET

@media screen and (max-width: 1200px) {
    .section-lorem {
        max-width: 768px;
        padding-top: 60px;
        padding-bottom: 45px;
        &__lists-icons {
            flex-wrap: wrap;
        }
        &__svg {
            width: 354px;
        }
        &__icon {
            left: 12%;
        }
        &__paragraph {
            margin-bottom: 30px;
            &--m-bottom,
            &--m-bottom-last {
                margin-bottom: 0;
            }
        }
    }
}

// MOBILE

@media screen and (max-width: 768px) {
    .section-lorem {
        max-width: 768px;
        &__list-icons {
            flex-basis: 450px;
        }
        &__svg {
            width: 450px;
        }
        &__icon {
            left: 20%;
        }
        &__title {
            text-align: center;
        }
        &__paragraph {
            &--m-bottom-last {
                margin-bottom: 30px;
            }
        }
    }
}