.container-header {
    border-bottom: 1px solid var(--color-border);
}

.top-header {
    display: flex;
    height: 80px;
    align-items: center;
    &__logo {
        color: var(--color-black);
        padding-left: 15px;
    }
    &__lists {
        display: flex;
        justify-content: flex-end;
        flex-grow: 2;
        list-style-type: none;
        align-items: center;
    }
    &__list {
        padding: 0 27px 0 50px;
    }
    &__icon {
        position: relative;
        top: 5px;
        right: 7px;
    }
    &__link {
        color: var(--color-contact);
        fill: var(--color-contact);
        font-weight: 500;
        &:hover,
        &:focus {
            color: var(--color-logo);
            fill: var(--color-logo);
            cursor: pointer;
        }
    }
}

.span-logo {
    color: var(--color-logo);
}

.navigation {
    flex-grow: 1;
    &__lists {
        display: flex;
        flex-grow: 1;
        justify-content: space-evenly;
    }
    &__link {
        font-weight: 500;
        &--active {
            &::after {
                position: relative;
                display: block;
                content: "";
                width: 100%;
                height: 4px;
                background-color: var(--color-logo);
                border-radius: 2px;
                top: 31px;
            }
        }
        &:hover,
        &:focus {
            color: var(--color-logo);
            fill: var(--color-logo);
            cursor: pointer;
        }
    }
}